
// Colors

$not-so-white: rgb(250, 250, 250);
$not-so-black: rgb(75, 75, 75);
$dark-blue: #0055ff;
$light-blue: #00d5ff;
$nav-bg: rgba(0, 162, 255, 0.95);

// Breakpoints (em respective to 100% font-size, 16px)

$sm: 36em;      // 576px
$md: 48em;      // 768px
$lg: 62em;      // 992px
$xl: 75em;    // 1200px
$xxl: 87.5em;   // 1400px