* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #fafafa;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 7rem;
  letter-spacing: 0.8rem;
  font-family: "Croissant One", sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 4.4rem;
  margin: 4rem 0;
  letter-spacing: 0.3rem;
  color: #4b4b4b;
  font-weight: 600;
}

h3 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

h4 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #4b4b4b;
}

p {
  font-size: 2.2rem;
  line-height: 1.5;
  color: #4b4b4b;
  letter-spacing: 0.1rem;
}
p::first-letter {
  font-size: 2.5rem;
  color: rgba(0, 162, 255, 0.95);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background-color: transparent;
  transition: all 0.2s ease-in;
}
nav.opaque {
  transition: all 0.2s ease-in;
  background-color: rgba(0, 162, 255, 0.95);
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container a {
  position: relative;
  color: #fafafa;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}
nav .nav-container a::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0%;
  height: 0.2rem;
  background-color: #fafafa;
  border-radius: 5px;
  width: 0%;
  transition: all 0.2s ease-in-out;
}
nav .nav-container a:hover::after {
  width: 100%;
}
nav .nav-container .nav-menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  opacity: 0;
  background-color: rgba(0, 162, 255, 0.95);
  transition: all 0.3s ease-in-out;
}
nav .nav-container .nav-menu .nav-link:nth-of-type(n+2) {
  margin-top: 2.5rem;
}
nav .nav-container .nav-menu.active {
  top: 6.9rem;
  opacity: 1;
}
nav .nav-container #hamburger {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
}
nav .nav-container #hamburger .bar {
  display: block;
  width: 3rem;
  height: 0.2rem;
  margin: 0.5rem auto;
  background-color: #fafafa;
  transition: all 0.3s ease-in-out;
}
nav .nav-container #hamburger.active .bar:nth-of-type(1) {
  transform: translateY(0.7rem) rotate(45deg);
}
nav .nav-container #hamburger.active .bar:nth-of-type(2) {
  opacity: 0;
}
nav .nav-container #hamburger.active .bar:nth-of-type(3) {
  transform: translateY(-0.7rem) rotate(-45deg);
}
@media screen and (min-width: 48em) {
  nav .nav-container .nav-menu {
    position: initial;
    display: initial;
    padding: 0;
    opacity: 1;
    width: auto;
    background-color: transparent;
  }
  nav .nav-container .nav-menu .nav-link {
    margin-left: 1.5rem;
  }
  nav .nav-container .nav-menu .nav-link:nth-of-type(n+2) {
    margin-top: 0;
  }
  nav .nav-container #hamburger {
    display: none;
  }
}

header {
  position: relative;
  height: 50rem;
  min-height: 50rem;
  padding-top: 8rem;
  color: #fafafa;
  background: linear-gradient(45deg, #0055ff, 40%, #00d5ff);
  overflow: hidden;
}
header::after {
  position: absolute;
  content: "";
  bottom: -0.2rem;
  left: 0;
  right: 0;
  height: 15rem;
  background-image: url("../assets/wave_divider.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 280% 100%;
  transform: rotate(180deg);
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
}
@media screen and (min-width: 48em) {
  header::after {
    background-size: 150% 100%;
  }
}
header .header-title {
  text-align: center;
}
header .header-title h1 {
  margin-top: 5rem;
  line-height: 1.5;
}
header .header-title .position-title {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

#about {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
#about * {
  margin: 4rem 0;
}
#about h2 {
  display: inline-block;
}
#about .about-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .about-article #dna {
  transform: rotate(45deg);
  margin: 0 2rem 0;
  width: 15rem;
  animation: rotation 75s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media screen and (min-width: 48em) {
  #about .about-article {
    display: initial;
  }
  #about .about-article #dna {
    float: left;
    shape-outside: circle(50%);
    margin: 2rem;
    width: 25rem;
  }
}

.skills {
  position: relative;
  width: 100%;
  background: linear-gradient(45deg, #0055ff, 40%, #00d5ff);
  z-index: 1;
  overflow: hidden;
}
.skills .skew-divider {
  height: 15rem;
  width: 100%;
  background-image: url("../assets/skew_divider.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.skills .skew-divider:nth-of-type(1) {
  background-position-y: top;
  transform: scaleX(-1) translateY(-0.2rem);
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.3));
}
.skills .skew-divider:nth-last-of-type(1) {
  background-position-y: bottom;
  transform: rotate(180deg) scaleX(-1) translateY(-0.2rem);
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.3));
}
.skills .container {
  margin: auto;
  padding: 3.5rem 2.5rem;
  text-align: center;
}
.skills .container h3 {
  color: #fafafa;
}
.skills .container .icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 15rem;
}
.skills .container .icon-list img {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}
.skills .container .icon-list img:nth-child(2n) {
  align-self: flex-end;
}

#projects {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#projects .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  padding: 2.5rem;
}
#projects .project-container h4 {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
}
#projects .project-container h4::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  right: 0;
  height: 0.4rem;
  background-color: rgba(0, 162, 255, 0.6);
  border-radius: 25px;
}
#projects .project-container .project-image-container {
  margin-bottom: 7rem;
}
#projects .project-container .project-image-container img {
  width: 80%;
  border-radius: 10px;
}
@media screen and (min-width: 36em) {
  #projects .project-container .project-image-container {
    padding: 7rem;
    background: linear-gradient(45deg, #0055ff, 30%, #00d5ff);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  }
  #projects .project-container .project-image-container.project-image-container1 {
    border-radius: 50% 70% 50% 70%/60% 50% 70% 60%;
  }
  #projects .project-container .project-image-container.project-image-container2 {
    border-radius: 39% 61% 64% 36%/42% 49% 51% 58%;
  }
  #projects .project-container .project-image-container.project-image-container3 {
    border-radius: 38% 62% 34% 66%/50% 40% 60% 50%;
  }
  #projects .project-container .project-image-container img {
    width: 35rem;
    opacity: 85%;
  }
}
#projects .project-container .project-tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
#projects .project-container .project-tech .tech-tag {
  margin: 0.6rem 0.6rem;
  padding: 0.4rem 0.8rem;
  color: rgba(0, 162, 255, 0.9);
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  border: 1px solid rgba(0, 162, 255, 0.9);
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#projects .project-container .demo-link-wrapper {
  text-align: center;
}
#projects .project-container .demo-link-wrapper .demo-link {
  display: inline-block;
  padding: 0.4rem 1rem;
  text-decoration: none;
  background-color: rgba(0, 162, 255, 0.7);
  color: #fafafa;
  border: 1px solid rgba(0, 162, 255, 0.7);
  border-radius: 25px;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
#projects .project-container .demo-link-wrapper .demo-link:hover {
  background-color: rgba(0, 162, 255, 0.8);
  animation: bluepulse 2s infinite;
}
@keyframes bluepulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 162, 255, 0.8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 162, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 162, 255, 0);
  }
}
#projects .project-container .demo-link-wrapper .demo-link:hover:active {
  background-color: rgba(0, 162, 255, 0.9);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
#projects .project-container:nth-of-type(2n+1) {
  opacity: 0;
  transform: translateX(75%);
}
#projects .project-container:nth-of-type(2n) {
  opacity: 0;
  transform: translateX(-75%);
}
#projects .project-container.show {
  transition: all 1s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}
@media screen and (min-width: 62em) {
  #projects .project-container {
    flex-direction: row;
    text-align: justify;
    margin: 5rem 0;
  }
  #projects .project-container:nth-of-type(2n+1) .project-image-container {
    margin-right: 5rem;
  }
  #projects .project-container:nth-of-type(2n+1) .project-tech {
    justify-content: flex-end;
  }
  #projects .project-container:nth-of-type(2n+1) .project-tech .tech-tag {
    margin-left: 1rem;
  }
  #projects .project-container:nth-of-type(2n) .project-image-container {
    order: 2;
    margin-left: 5rem;
  }
  #projects .project-container:nth-of-type(2n) .project-tech {
    justify-content: flex-start;
  }
  #projects .project-container:nth-of-type(2n) .project-tech .tech-tag {
    margin-right: 1rem;
  }
}

#contact {
  position: relative;
  margin-top: 15rem;
  background: linear-gradient(45deg, #0055ff, 40%, #00d5ff);
  overflow: hidden;
}
#contact h2 {
  color: #fafafa;
  margin-bottom: 10rem;
}
#contact::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 15rem;
  background-image: url("../assets/wave_divider.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 180% 100%;
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));
}
@media screen and (min-width: 48em) {
  #contact::after {
    background-size: 100% 100%;
  }
}
#contact .container {
  padding-top: 15rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .container #form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2.5rem;
  row-gap: 6rem;
  justify-content: center;
  justify-items: center;
  width: 75%;
}
@media screen and (min-width: 48em) {
  #contact .container #form {
    grid-template-columns: 1fr 1fr;
  }
  #contact .container #form .form-component:nth-last-of-type(1) {
    grid-column: span 2;
  }
}
#contact .container #form .form-component {
  position: relative;
  width: 100%;
}
#contact .container #form .form-component label {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inset: 0;
  bottom: -0.5rem;
  font-size: 2rem;
  color: transparent;
  pointer-events: none;
}
#contact .container #form .form-component label .label-name {
  opacity: 0;
  position: absolute;
  top: -1rem;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#contact .container #form .form-component input, #contact .container #form .form-component textarea {
  display: block;
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: #fafafa;
  border: 0;
  font-size: 1.6rem;
  color: #4b4b4b;
  box-shadow: 0px 3px 10px rgba(75, 75, 75, 0.5);
  border-radius: 25px;
}
@media screen and (min-width: 36em) {
  #contact .container #form .form-component input, #contact .container #form .form-component textarea {
    font-size: 2.2rem;
  }
}
#contact .container #form .form-component input::placeholder, #contact .container #form .form-component textarea::placeholder {
  color: #4b4b4b;
}
#contact .container #form .form-component input:focus, #contact .container #form .form-component textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px 5px rgba(250, 250, 250, 0.6);
}
#contact .container #form .form-component input:focus + label .label-name, #contact .container #form .form-component input:not(:placeholder-shown) + label .label-name, #contact .container #form .form-component textarea:focus + label .label-name, #contact .container #form .form-component textarea:not(:placeholder-shown) + label .label-name {
  opacity: 1;
  font-weight: 600;
  color: #fafafa;
  text-shadow: 2px 2px 5px rgba(75, 75, 75, 0.5);
  transform: translateX(1.5rem) translateY(-2rem);
}
#contact .container textarea {
  resize: vertical;
}
#contact .container #submit {
  width: 100%;
  margin-bottom: 5rem;
  padding: 0.8rem 0;
  border: none;
  color: #4b4b4b;
  border: 0.2rem solid #fafafa;
  border-radius: 25px;
  background: #fafafa linear-gradient(180deg, #fafafa, 96%, rgba(75, 75, 75, 0.1));
  font-size: 2rem;
  letter-spacing: 0.2rem;
  box-shadow: 0px 1px 10px rgba(75, 75, 75, 0.5);
}
#contact .container #submit:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(75, 75, 75, 0.5);
  animation: whitepulse 2s infinite;
}
@keyframes whitepulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(250, 250, 250, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(250, 250, 250, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(250, 250, 250, 0);
  }
}
#contact .container #submit:active {
  background: #fafafa linear-gradient(180deg, rgba(75, 75, 75, 0.1), 1%, #fafafa);
}
@media screen and (min-width: 48em) {
  #contact .container #submit {
    grid-column: span 2;
    width: 50%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  color: #fafafa;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 36em) {
  footer {
    font-size: 1.8rem;
  }
}
footer > div {
  margin: 1rem 0;
}
footer ul {
  display: flex;
  align-items: center;
}
footer ul a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul a:nth-of-type(2n) {
  margin-left: 1rem;
}
footer ul a img {
  height: 3.6rem;
  filter: invert(100%) sepia(85%) saturate(0%) hue-rotate(158deg) brightness(111%) contrast(96%);
}
footer ul a::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0%;
  height: 0.2rem;
  background-color: #fafafa;
  border-radius: 5px;
  width: 0%;
  transition: all 0.2s ease-in-out;
}
footer ul a:hover::after {
  width: 100%;
}

/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=index.css.map */
