* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #fafafa;
}

h1 {
  font-size: 64px;
  letter-spacing: 8px;
}

h2 {
  font-size: 44px;
  letter-spacing: 3px;
  color: #4b4b4b;
}

h3 {
  font-size: 35px;
  letter-spacing: 2px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  position: relative;
  color: #fafafa;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
nav a::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0%;
  height: 2px;
  background-color: #fafafa;
  border-radius: 5px;
  width: 0%;
  transition: all 0.2s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}
nav ul > a {
  margin-left: 15px;
}

header {
  height: 500px;
  min-height: 500px;
  background-image: url("../assets/header-wave.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 100% 100%;
  color: #fafafa;
}
header .header-title {
  text-align: center;
}
header .header-title h1 {
  margin-top: 5%;
  line-height: 1.5;
}
header .header-title .position-title {
  font-size: 30px;
  letter-spacing: 3px;
}

#about {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
#about * {
  margin: 40px 0;
}
#about h2 {
  margin: 40px 0;
  display: inline-block;
}
#about .about-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .about-article #dna {
  transform: rotate(45deg);
  margin: 0 20px 20px 0;
  width: 150px;
}
#about .about-article p {
  color: #4b4b4b;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  #about .about-article {
    display: initial;
  }
  #about .about-article #dna {
    float: left;
    shape-outside: circle(50%);
    margin: 2rem;
    width: 250px;
  }
}

.skills {
  position: relative;
  padding: 100px 0;
  width: 100%;
  max-width: 1920px;
  background: linear-gradient(45deg, #0055FF, 40%, #00D4FF);
  z-index: 1;
  overflow: hidden;
}
.skills .container {
  margin: auto;
  padding: 35px 25px;
  text-align: center;
}
.skills .container h3 {
  color: #fafafa;
}
.skills .container .icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 150px;
}
.skills .container .icon-list img {
  width: 50px;
  height: 50px;
  margin: 20px 20px;
}
.skills .container .icon-list img:nth-child(2n) {
  align-self: flex-end;
}
.skills::before {
  content: "";
  position: absolute;
  background: #fafafa;
  z-index: -1;
  height: 50%;
  top: -50%;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: skewY(-3deg);
}
.skills::after {
  content: "";
  position: absolute;
  background: #fafafa;
  z-index: -1;
  height: 50%;
  bottom: -50%;
  left: 0;
  right: 0;
  transform-origin: top left;
  transform: skewY(-3deg);
}

#projects {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 25px;
}
@media screen and (min-width: 992px) {
  #projects .project-container {
    flex-direction: row;
    text-align: justify;
  }
  #projects .project-container:nth-of-type(2n+1) .project-image-container {
    margin-right: 30px;
  }
  #projects .project-container:nth-of-type(2n) .project-image-container {
    order: 2;
    margin-left: 30px;
  }
}
#projects .project-container .project-image-container {
  margin-bottom: 25px;
}
#projects .project-container .project-image-container img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 576px) {
  #projects .project-container .project-image-container {
    padding: 80px;
    background: linear-gradient(45deg, #0055FF, 30%, #00D4FF);
  }
  #projects .project-container .project-image-container.project-image-container1 {
    border-radius: 50% 70% 50% 70%/60% 50% 70% 60%;
  }
  #projects .project-container .project-image-container.project-image-container2 {
    border-radius: 39% 61% 64% 36%/42% 49% 51% 58%;
  }
  #projects .project-container .project-image-container.project-image-container3 {
    border-radius: 38% 62% 34% 66%/50% 40% 60% 50%;
  }
  #projects .project-container .project-image-container img {
    width: 350px;
    opacity: 90%;
  }
}

/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=index.css.map */
