@import "variables";


// Global

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    background-color: $not-so-white;
}

h1{
    font-size: 64px;
    letter-spacing: 8px;
}

h2{
    font-size: 44px;
    letter-spacing: 3px;
}

h3{
    font-size: 35px;
    letter-spacing: 2px;
}

p{
    font-size: 22px;
    line-height: 1.5;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

// Nav

nav {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        position: relative;
        color: $not-so-white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;

        &::after{
            position: absolute;
            content: "";
            bottom: -5px;
            left: 0%;
            height: 2px;
            background-color: $not-so-white;
            border-radius: 5px;
            width: 0%;
            transition: all 0.2s ease-in-out;
            
        }

        &:hover{
            &::after{
                width: 100%;
            }
        }
    }

    ul > a {
        margin-left: 15px;
    }
}

// Header

header {
    height: 500px;
    min-height: 500px;
    background-image:url("../assets/header-wave.svg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% 100%;
    color: $not-so-white;

    .header-title {
        text-align: center;

        h1 {
            margin-top: 5%;
            line-height: 1.5;
        }
    
        .position-title{
            font-size: 30px;
            letter-spacing: 3px;
        }
    }
    
}

// About Me

#about{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    & *{
        margin: 40px 0;
    }

    h2{
        margin: 40px 0;
        display: inline-block;
        // background-color: #0085dd; // fallback
        // background-image: linear-gradient(45deg, $dark-blue, 20%, $light-blue);
        // background-size: 100%;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent; 
        // -moz-background-clip: text;
        // -moz-text-fill-color: transparent;
        color: $not-so-black;
    }

    .about-article{
        display: flex;
        flex-direction: column;
        align-items: center;

        #dna {
            transform: rotate(45deg);
            margin: 0 20px 20px 0;
            width: 150px;
        }

        p{
            color:$not-so-black;
            letter-spacing: 1px;
        }

        @media screen and (min-width: $md) {
            display: initial;

            #dna{
                float: left;
                shape-outside: circle(50%);
                margin: 2rem;
                width: 250px;
            }
        }

        // @media screen and (min-width: $lg){
        //     display: flex;
        //     flex-direction: row;

        //     img{
        //         float: none;
        //     }

        // }
    }

    .skills-container{
        width: 100vw;
        background: linear-gradient(45deg, $dark-blue, 20%, $light-blue);

        .container{
            margin: auto;
            padding: 25px;

            h3{
                display: inline-block;
                margin: auto;
                color: $not-so-white;
            }

            & img {
                width: 50px;
            }
        }

        
    }

    
}

/*# sourceMappingURL=index.scss.map */
