@import "variables";


// Global

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font: inherit;
    vertical-align: baseline;
}

html{
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
}

body{
    position: relative; // Allows positioning of footer
    background-color: $not-so-white;
    font-size: 1.6rem; // Default size back to 16px
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 4rem;
    letter-spacing: 0.8rem;
    font-family: 'Croissant One', sans-serif;
    font-weight: 800;

    @media screen and (min-width: $sm) {
        font-size: 7rem;
    }
}

h2{
    font-size: 3rem;
    margin: 4rem 0;
    letter-spacing: 0.3rem;
    color: $not-so-black;
    font-weight: 600;
    text-align: center;

    @media screen and (min-width: $sm) {
        font-size: 4.4rem;
    }
}

h3{
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
    font-weight: 500;

    @media screen and (min-width: $sm) {
        font-size: 3.5rem;
    }
}

h4{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: $not-so-black;

    @media screen and (min-width: $sm) {
        font-size: 3rem;
    }
}

p{
    font-size: 1.8rem;
    line-height: 1.5;
    color:$not-so-black;
    letter-spacing: 0.1rem;
    &::first-letter{
        font-size: 2.5rem;
        color: $nav-bg;
        text-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);
    }
}

img{
    pointer-events: none;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

// Nav

nav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background-color: transparent;
    transition: all 0.2s ease-in;

    &.opaque{
        transition: all 0.2s ease-in;
        background-color: $nav-bg;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            position: relative;
            color: $not-so-white;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 500;
    
            @include hoverUnderline;
        }

        .site-logo{
            z-index: 2; // stay on top of nav-menu animation
        }
    
        .nav-menu{
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 2.5rem;
            opacity: 0;
            background-color: $nav-bg;
            transition: all 0.2s ease-in-out;
            pointer-events: none;
            visibility: hidden; // hide from screen readers
    
            .nav-link:nth-of-type(n+2) {
                margin-top: 2.5rem;
            }
    
            &.active{
                top: 100%;
                opacity: 1;
                pointer-events: auto;
                visibility: visible;
            }
        }
    
        #hamburger{
            display: block;
            position: relative;
            cursor: pointer;
            padding: 0.5rem;
            background-color: transparent;
            border: none;
    
            .bar{
                display: block;
                width: 3rem;
                height: 0.2rem;
                margin: 0.5rem auto;
                background-color: $not-so-white;
                transition: all 0.3s ease-in-out;
            }

            &.active{
                .bar:nth-of-type(1){
                    transform: translateY(0.7rem) rotate(45deg);
                }

                .bar:nth-of-type(2){
                    opacity: 0;
                }

                .bar:nth-of-type(3){
                    transform: translateY(-0.7rem) rotate(-45deg);
                }
            }
        }
    
        @media screen and (min-width: $md){
            .nav-menu{
                position: initial;
                display: initial;
                padding: 0;
                opacity: 1;
                width: auto;
                background-color: transparent;
                pointer-events: auto;
                visibility: visible;
        
                .nav-link {
                    margin-left: 1.5rem;
                }

                .nav-link:nth-of-type(n+2) {
                    margin-top: 0;
                }
            }

            #hamburger{
                display: none;
            }
        }
    }
}

// Header

header {
    position: relative;
    height: 50rem;
    min-height: 50rem;
    padding-top: 8rem; // Gives space to nav
    color: $not-so-white;
    background: linear-gradient(45deg, $dark-blue, 40%, $light-blue);
    overflow: hidden;

    &::after{
        position: absolute;
        content: "";
        bottom: -0.2rem;
        left: 0;
        right: 0;
        height: 15rem;
        background-image: url("../assets/wave_divider.svg");
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: 280% 100%;
        transform: rotate(180deg);
        filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));

        @media screen and (min-width: $md) {
            background-size: 150% 100%;
        }
    }

    .header-title {
        text-align: center;

        h1 {
            margin-top: 5rem;
            line-height: 1.5;
        }
    
        .position-title{
            font-size: 3rem;
            letter-spacing: 0.3rem;
            font-weight: 500;
        }
    }
    
}

// About Me

#about{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & *{
        margin: 4rem 0;
    }

    h2{
        display: inline-block;
    }

    .about-article{
        display: flex;
        flex-direction: column;
        align-items: center;

        #dna {
            transform: rotate(45deg);
            margin: 0 2rem 0;
            width: 15rem;
            animation: rotation 75s infinite linear;

            @keyframes rotation {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(359deg);
                }
            }
        }

        #coding {
            margin: 0 2rem 0;
            width: 15rem;
        }

        @media screen and (min-width: $md) {
            display: initial;
            text-align: justify;

            #dna{
                float: left;
                shape-outside: circle(50%);
                margin: 2rem 2rem 2rem 0;
                width: 25rem;
            }

            #coding{
                float: right;
                shape-outside: circle(50%);
                margin: 2rem 0 2rem 2rem;
                width: 20rem;
            }
        }
    }

    .resume-wrapper{
        text-align: center;
        clear: both;

        .resume-download{
            display: inline-block;
            padding: 1.5rem 1.8rem;
            text-decoration: none;
            background-color: rgba($color: $nav-bg, $alpha: 0.8);
            color: $not-so-white;
            border-radius: 25px;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    
             @media screen and (min-width: $sm) {
                font-size: 1.8rem;
            }
    
            &:hover{
                animation: bluepulse 2s infinite;

                @keyframes bluepulse {
                    0% {
                        box-shadow: 0 0 0 0 rgba($color: $nav-bg, $alpha: 0.8);
                    }

                    70% {
                        box-shadow: 0 0 0 10px rgba($color: $nav-bg, $alpha: 0);
                    }

                    100% {
                        box-shadow: 0 0 0 0 rgba($color: $nav-bg, $alpha: 0);
                    }
                }
    
                &:active{
                    background-color: rgba($color: $nav-bg, $alpha: 0.9);
                    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}


// Skills

.skills{
    position: relative;
    width: 100%;
    background: linear-gradient(45deg, $dark-blue, 40%, $light-blue);
    z-index: 1;
    overflow: hidden;

    .skew-divider{
        height: 15rem;
        width: 100%;
        background-image: url("../assets/skew_divider.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        // Top skewed divider
        &:nth-of-type(1){
            background-position-y: top;
            // translateY helps avoid gaps while zooming
            transform: scaleX(-1) translateY(-0.2rem);
            filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.3));
        }

        // Bottom skewed divider
        &:nth-last-of-type(1){
            background-position-y: bottom;
            transform: rotate(180deg) scaleX(-1) translateY(-0.2rem);
            filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.3));
        }
    }

    .container{
        margin: auto;
        padding: 3.5rem 2.5rem;
        text-align: center;

        h3{
            color: $not-so-white;
        }

        .icon-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            min-height: 15rem;

            img{
                width: 5rem;
                height: 5rem;
                margin: 2rem;
            }

            img:nth-child(2n){
                align-self: flex-end;
            }
        }
    }
}


// Projects

#projects{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .project-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        padding: 2.5rem;

        h4{
            display: inline-block;
            position: relative;
            margin-bottom: 3rem;

            &::after{
                content: "";
                position: absolute;
                bottom: -0.4rem;
                left: 0;
                right: 0;
                height: 0.4rem;
                background-color: rgba($color: $nav-bg, $alpha: 0.6);
                border-radius: 25px;
            }
        }

        .project-title{
            display: flex;
            align-items: center;
            margin-bottom: 3rem;

            h4{
                display: inline-block;
                position: relative;
                margin-bottom: 0;
                margin-right: 3rem;
    
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -0.4rem;
                    left: 0;
                    right: 0;
                    height: 0.4rem;
                    background-color: rgba($color: $nav-bg, $alpha: 0.6);
                    border-radius: 25px;
                }
            }

            .github-link{
                img{
                    opacity: 0.8;
                    display: block;
                    height: 2.8rem;
                    filter: invert(0%) sepia(11%) saturate(2987%) hue-rotate(123deg) brightness(108%) contrast(60%);
                }
            }
        }

        .project-image-container{
            margin-bottom: 5rem;

            img{
                display: block;
                margin: 0 auto;
                width: 80%;
                border-radius: 10px;
            }

            @media screen and (min-width: $sm){
                padding: 7rem;
                background: linear-gradient(45deg, $dark-blue, 30%, $light-blue);
                box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
                
                &.project-image-container1{
                    border-radius: 50% 70% 50% 70% / 60% 50% 70% 60%;
                }
                &.project-image-container2{
                    border-radius: 39% 61% 64% 36% / 42% 49% 51% 58%;
                }
                &.project-image-container3{
                    border-radius: 38% 62% 34% 66% / 50% 40% 60% 50%;
                }
                &.project-image-container4{
                    border-radius: 39% 61% 64% 36% / 42% 49% 51% 58%;
                }

                img{
                    width: 35rem;
                    opacity: 85%;
                }
            }
        }

        .project-tech{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 3rem 0;

            .tech-tag{
                margin: 0.6rem 0.6rem;
                padding: 0.4rem 0.8rem;
                color: rgba($color: $nav-bg, $alpha: 0.9);
                font-size: 1.3rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
                border: 1px solid rgba($color: $nav-bg, $alpha: 0.9);
                border-radius: 25px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

                @media screen and (min-width: $sm) {
                    font-size: 1.6rem;
                }
            }
        }

        .demo-link-wrapper{
            text-align: center;

            .demo-link{
                display: inline-block;
                padding: 0.8rem 1.2rem;
                text-decoration: none;
                background-color: rgba($color: $nav-bg, $alpha: 0.7);
                color: $not-so-white;
                border-radius: 25px;
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

                @media screen and (min-width: $sm) {
                    font-size: 1.8rem;
                }

                &:hover{
                    background-color: rgba($color: $nav-bg, $alpha: 0.8);
                    animation: bluepulse 2s infinite;

                    &:active{
                        background-color: rgba($color: $nav-bg, $alpha: 0.9);
                        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
                    }
                }


            }
        }

        // Project slide-in

        &:nth-of-type(2n+1){
            opacity: 0;
            transform: translateX(75%);
        }

        &:nth-of-type(2n){
            opacity: 0;
            transform: translateX(-75%);
        }

        &.show{
            transition: all 1s ease-in-out;
            opacity: 1;
            transform: translateX(0);
        }

        @media screen and (min-width: $md){
            text-align: justify;
        }

        @media screen and (min-width: $lg){
            flex-direction: row;

            &:nth-of-type(2n+1){
                .project-image-container{
                    margin-right: 5rem;
                }

                .project-tech{
                    justify-content: flex-end;
                    
                    .tech-tag{
                        margin-left:  1rem;
                    }
                }
            }

            &:nth-of-type(2n){
                .project-image-container{
                    order: 2;
                    margin-left: 5rem;
                }

                .project-tech{
                    justify-content: flex-start;
    
                    .tech-tag{
                        margin-right:  1rem;
                    }
                }
            }
        }
    }
}

// Contact

#contact{
    position: relative;
    margin-top: 15rem;
    background: linear-gradient(45deg, $dark-blue, 40%, $light-blue);
    overflow: hidden;

    h2{
        color: $not-so-white;
        margin-bottom: 10rem;
    }

    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        height: 15rem;
        background-image: url("../assets/wave_divider.svg");
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: 180% 100%;
        filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.2));

        @media screen and (min-width: $md) {
            background-size: 100% 100%;
        }
    }

    .container{
        padding-top: 15rem;
        padding-bottom: 10rem; // Space for footer
        display: flex;
        flex-direction: column;
        align-items: center;

        #form{
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 2.5rem;
            row-gap: 6rem;
            justify-content: center;
            justify-items: center;
            width: 75%;
    
            @media screen and (min-width: $md) {
                grid-template-columns: 1fr 1fr;

                // textarea input
                .form-component:nth-last-of-type(1){
                    grid-column: span 2;
                }
            }
    
            .form-component{
                position: relative;
                width: 100%;
    
                label{
                    position: absolute;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    inset: 0;
                    bottom: -0.5rem;
                    font-size: 2rem;
                    color: transparent;
                    pointer-events: none;
    
                    .label-name{
                        opacity: 0;
                        position: absolute;
                        top: -1rem;
                        left: 0;
                        transition: all .3s ease-in-out;
                    }
                }
    
                input, textarea{
                    display: block;
                    padding: 1rem 1.5rem;
                    width: 100%;
                    background-color: $not-so-white;
                    border: 0;
                    font-size: 1.6rem;
                    color: $not-so-black;
                    box-shadow: 0px 3px 10px rgba($color: $not-so-black, $alpha: 0.5);
                    border-radius: 25px;

                    @media screen and (min-width: $sm){
                        font-size: 2rem;
                    }

                    &::placeholder{
                        color: $not-so-black;
                    }

                    &:focus{
                        outline: none;
                        // box-shadow has better compatibility with border-radius than outline
                        box-shadow: 0px 0px 2px 5px rgba($color: $not-so-white, $alpha: 0.6);
                    }
    
                    &:focus, &:not(:placeholder-shown){
    
                        + label .label-name {
                            opacity: 1;
                            font-weight: 600;
                            color: $not-so-white;
                            text-shadow: 2px 2px 5px rgba($color: $not-so-black, $alpha: 0.5);
                            transform: translateX(1.5rem) translateY(-2rem);
                        }
                    }
                }
            }
        }

        textarea{
            resize: vertical;
        }
    
        #submit{
            width: 100%;
            margin-bottom: 5rem;
            padding: 0.8rem 0;
            border: none;
            color: $not-so-black;
            border: 0.2rem solid $not-so-white;
            border-radius: 25px;
            background: $not-so-white linear-gradient(180deg, $not-so-white, 96%, rgba($color: $not-so-black, $alpha: 0.1));
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            box-shadow: 0px 1px 10px rgba($color: $not-so-black, $alpha: 0.5);

            &:hover{
                cursor: pointer;
                box-shadow: 0px 5px 5px rgba($color: $not-so-black, $alpha: 0.5);
                animation: whitepulse 2s infinite;

                @keyframes whitepulse {
                    0% {
                        transform: scale(0.95);
                        box-shadow: 0 0 0 0 rgba(250, 250, 250, 0.7);
                    }

                    70% {
                        transform: scale(1);
                        box-shadow: 0 0 0 10px rgba(250, 250, 250, 0);
                    }

                    100% {
                        transform: scale(0.95);
                        box-shadow: 0 0 0 0 rgba(250, 250, 250, 0);
                    }
                }
            }

            &:active{
                background: $not-so-white linear-gradient(180deg, rgba($color: $not-so-black, $alpha: 0.1), 1%, $not-so-white);
            }

            @media screen and (min-width: $md) {
                grid-column: span 2;
                width: 50%;
            }
        }
    }
}

footer{
    position: absolute; // Use background gradient from contact's section
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    color: $not-so-white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;

    @media screen and (min-width: $sm){
        font-size: 1.8rem;
    }

    > div {
        margin: 1rem 0;    
    }

    .footer-links{
        display: flex;
        align-items: center;

        a{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-of-type(2n){
                margin-left: 1rem;
            }

            img{
                height: 3.6rem;
                filter: invert(100%) sepia(85%) saturate(0%) hue-rotate(158deg) brightness(111%) contrast(96%);
            }

            @include hoverUnderline;
        }
    }
}

/*# sourceMappingURL=index.scss.map */
