* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #fafafa;
}

h1 {
  font-size: 64px;
  letter-spacing: 8px;
}

h2 {
  font-size: 44px;
  margin: 40px 0;
  letter-spacing: 3px;
  color: #4b4b4b;
}

h3 {
  font-size: 35px;
  letter-spacing: 2px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  color: #4b4b4b;
  letter-spacing: 1px;
}
p::first-letter {
  font-size: 25px;
  color: rgba(0, 162, 255, 0.95);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  background-color: transparent;
  transition: all 0.4s linear;
}
nav.scrolled {
  transition: all 0.4s linear;
  background-color: rgba(0, 162, 255, 0.95);
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container a {
  position: relative;
  color: #fafafa;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
nav .nav-container a::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0%;
  height: 2px;
  background-color: #fafafa;
  border-radius: 5px;
  width: 0%;
  transition: all 0.2s ease-in-out;
}
nav .nav-container a:hover::after {
  width: 100%;
}
nav .nav-container .nav-menu {
  position: absolute;
  left: -100%;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  opacity: 0;
  background-color: rgba(0, 162, 255, 0.95);
  transition: all 0.3s ease-in-out;
}
nav .nav-container .nav-menu .nav-link:nth-of-type(n+2) {
  margin-top: 25px;
}
nav .nav-container .nav-menu.active {
  left: 0;
  opacity: 1;
}
nav .nav-container #hamburger {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
}
nav .nav-container #hamburger .bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 5px auto;
  background-color: #fafafa;
  transition: all 0.3s ease-in-out;
}
nav .nav-container #hamburger.active .bar:nth-of-type(1) {
  transform: translateY(7px) rotate(45deg);
}
nav .nav-container #hamburger.active .bar:nth-of-type(2) {
  opacity: 0;
}
nav .nav-container #hamburger.active .bar:nth-of-type(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media screen and (min-width: 768px) {
  nav .nav-container .nav-menu {
    position: initial;
    display: initial;
    padding: 0;
    opacity: 1;
    width: auto;
    background-color: transparent;
  }
  nav .nav-container .nav-menu .nav-link {
    margin-left: 15px;
  }
  nav .nav-container .nav-menu .nav-link:nth-of-type(n+2) {
    margin-top: 0;
  }
  nav .nav-container #hamburger {
    display: none;
  }
}

header {
  height: 500px;
  min-height: 500px;
  padding-top: 80px;
  background-image: url("../assets/header-wave.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 100% 100%;
  color: #fafafa;
}
header .header-title {
  text-align: center;
}
header .header-title h1 {
  margin-top: 5%;
  line-height: 1.5;
}
header .header-title .position-title {
  font-size: 30px;
  letter-spacing: 3px;
}

#about {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
#about * {
  margin: 40px 0;
}
#about h2 {
  display: inline-block;
}
#about .about-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .about-article #dna {
  transform: rotate(45deg);
  margin: 0 20px 20px 0;
  width: 150px;
  animation: rotation 75s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media screen and (min-width: 768px) {
  #about .about-article {
    display: initial;
  }
  #about .about-article #dna {
    float: left;
    shape-outside: circle(50%);
    margin: 2rem;
    width: 250px;
  }
}

.skills {
  position: relative;
  padding: 100px 0;
  width: 100%;
  max-width: 1920px;
  background: linear-gradient(45deg, #0055ff, 40%, #00d5ff);
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(229deg, #00d5ff, #0055ff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 20% 80%;
  }
  50% {
    background-position: 80% 20%;
  }
  100% {
    background-position: 20% 80%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 20% 80%;
  }
  50% {
    background-position: 80% 20%;
  }
  100% {
    background-position: 20% 80%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 20% 80%;
  }
  50% {
    background-position: 80% 20%;
  }
  100% {
    background-position: 20% 80%;
  }
}
.skills .container {
  margin: auto;
  padding: 35px 25px;
  text-align: center;
}
.skills .container h3 {
  color: #fafafa;
}
.skills .container .icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 150px;
}
.skills .container .icon-list img {
  width: 50px;
  height: 50px;
  margin: 20px 20px;
}
.skills .container .icon-list img:nth-child(2n) {
  align-self: flex-end;
}
.skills::before {
  content: "";
  position: absolute;
  background: #fafafa;
  z-index: -1;
  height: 50%;
  top: -50%;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: skewY(-3deg);
}
.skills::after {
  content: "";
  position: absolute;
  background: #fafafa;
  z-index: -1;
  height: 50%;
  bottom: -50%;
  left: 0;
  right: 0;
  transform-origin: top left;
  transform: skewY(-3deg);
}

#projects {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  padding: 25px;
}
@media screen and (min-width: 992px) {
  #projects .project-container {
    flex-direction: row;
    text-align: justify;
  }
  #projects .project-container:nth-of-type(2n+1) .project-image-container {
    margin-right: 30px;
  }
  #projects .project-container:nth-of-type(2n) .project-image-container {
    order: 2;
    margin-left: 30px;
  }
}
#projects .project-container .project-image-container {
  margin-bottom: 25px;
}
#projects .project-container .project-image-container img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 576px) {
  #projects .project-container .project-image-container {
    padding: 80px;
    background: linear-gradient(45deg, #0055ff, 30%, #00d5ff);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }
  #projects .project-container .project-image-container.project-image-container1 {
    border-radius: 50% 70% 50% 70%/60% 50% 70% 60%;
    border-radius: 15%;
  }
  #projects .project-container .project-image-container.project-image-container2 {
    border-radius: 39% 61% 64% 36%/42% 49% 51% 58%;
  }
  #projects .project-container .project-image-container.project-image-container3 {
    border-radius: 38% 62% 34% 66%/50% 40% 60% 50%;
  }
  #projects .project-container .project-image-container img {
    width: 350px;
    opacity: 85%;
  }
}

/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=index.css.map */
